<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/exan24_flex_profile.css">
</head>
<body>
    <h1>학습 멤버 소개</h1>

    <div class="profile-list">
        <div class="profile">
            <div class="profile-img">😂</div>

            <div class="profile-info">
                <h2>김영희</h2>
                <p>
                    HTML 구조 작성에 관심이 많으며,
                    시맨틱 태그를 활용한 문서 구성을 연습하고 있습니다.
                </p>
            </div>
        </div>

        <div class="profile">
            <div class="profile-img">😒</div>

            <div class="profile-info">
                <h2>김철수</h2>
                <p>
                    CSS 스타일 적용 연습을 하며,
                    색상과 여백을 조절하여 보기 좋은 화면을 만들고 있습니다.
                </p>
            </div>
        </div>

        <div class="profile">
            <div class="profile-img">😁</div>

            <div class="profile-info">
                <h2>박서희</h2>
                <p>
                    JavaScript를 이용하여
                    버튼클릭, 입력값 처리와 같은 동적인 기능을 구현하는데 관심이 있습니다.
                </p>
            </div>
        </div>
    </div>
</body>
</html>