<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/kakao_login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Do+Hyeon&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif+KR:wght@200..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>KaKao</h1>
    </header>

    <main>
        <section class="main-section">
            <form class="login-form" method="post">
                <input type="text" placeholder="카카오메일 아이디, 이메일, 전화번호">
                <p class="input-text">
                    <strong>TIP</strong> 카카오 메일이 있다면 메일 아이디만 입력해보세요.
                </p>
                <input type="password" placeholder="비밀번호">
                <div class="checkbox">
                    <input type="checkbox">
                    <p>로그인 상태 유지</p>
                </div>
                <button type="button">로그인</button>
            </form>
            <div class="join-search">
                <a href="#">회원가입</a>
                <div class="search">
                    <a href="#">계정 찾기</a>
                    <a href="#">비밀번호 찾기</a>
                </div>
            </div>
        </section>
        <footer>
            <a href="#">이용약관</a>
            <a href="#">개인정보 처리방침</a>
            <a href="#">운영정책</a>
            <a href="#">고객센터</a>
            <a href="#">공지사항</a>
            <a href="#">한국어</a>
            <p>Copyright © Kakao Corp. All rights reserved</p>
        </footer>
    </main>
</body>
</html>