body {
    background-color: antiquewhite;
    font-family: "Do Hyeon", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

.header-section {
    text-align: center;
}

.header-section h1 {
    color: brown;
    font-size: 2.5rem;
}

.header-section p {
    color: white;
    font-size: 1.5rem;
}

.info-section {
    max-width: 500px;
    margin: auto;
    border: 1px solid pink;
    border-radius: 10px;
    line-height: 1.6;
    padding: 15px;
}

.info-section h2 {
    padding-left: 39px;
    color: pink;
    font-size: 1.4rem;
}

strong {
    color: rgb(64, 67, 241);
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;

}

.class-section h2 {
    font-size: 1.8rem;
    text-align: center;
}

.dessert-card {
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    background-color: rgb(233,129,129);
    box-shadow: 0 5px 10px gray;
}

.class-title {
    color: white;
    font-size: 1.3rem;
}

.class-desc {
    font-size: 1.1rem;
}
