body {
    font-family: "Do Hyeon";
    text-align: center;
    margin: 50px;
}

/* .do-hyeon-regular {
  font-family: "Do Hyeon", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

h1 {
    color: rgb(37, 46, 175);
    font-size: 4rem;
}

.weather-card {
    background-color: rgb(235, 235, 255);
    width: 50rem;
    margin: auto;
    padding: 1.3rem;
}

.weather-card p {
    text-align: left;
}

p {
    font-size: 1.3rem;
}

.city {
    color: rgb(11, 77, 11);
    font-weight: bold;
    font-size: 1.9rem;
}

.warning {
    font-size: 1.8rem;
    font-weight: bold;
    color: brown;
    text-decoration: underline;
}

.english {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;    
}

.small-text {
    text-align: right !important;
    font-size: 1.3rem;
}