* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Do Hyeon", sans-serif;;
}

body {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: -100px;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: -20px;

}

.main-section {
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border: 1px solid black; */
    margin: auto;
    text-align: center;
    padding: 50px;
}

.login-form {
    line-height: 1.7;
}

.login-form input {
    width: 500px;
    height: 50px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid rgb(167, 167, 167);
    margin-bottom: 10px;
}

.login-form input::placeholder {
    font-size: 1.2rem;
    text-align: left;
}

strong {
    color: red;
}

.input-text {
    font-size: 1.1rem;
    color: rgb(184, 184, 184);
    text-align: left;
}

.checkbox {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 8px;
    
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    margin: 0;
}

.checkbox p {
    color: rgb(184, 184, 184);
}

.login-form button {
    width: 500px;
    height: 50px;
    border: none;
    background-color: rgb(250, 225, 0);
    margin: 10px 0;
    font-size: 1.2rem;
    cursor: pointer;
}

.join-search {
    display: flex;
    justify-content: space-between;
}

.join-search a {
    text-decoration: none;
    color: rgb(184, 184, 184);
}

.join-search a:hover {
    color: rgb(90, 90, 90);
}

.search {
    display: flex;
    gap: 10px;
}

footer {
    text-align: center;
}

footer a {
    text-decoration: none;
    color: rgb(184, 184, 184);
    margin: 0 0 0 10px;
}

footer a:hover {
    color: rgb(90, 90, 90);
}

footer p {
    font-size: 0.8rem;
    color: rgb(184, 184, 184);
    margin-top: 10px;
}