body {
    font-family: sans-serif;
    margin: 30px;
}

h1, h2 {
    line-height: 1.6;
    color: #156DD6;
}

h2 {
    color: #FF35E5;
    font-weight: bold;
}

ul {
    list-style: none;
}

li {
    border: 2px solid #FF4642;
    width: 300px;
    text-align: center;
    padding: 10px;
    margin-bottom: 3px;
    background-color: #C46DF2;
    font-size: 15px;
    font-weight: bold;
}

li:hover {
    background-color: #FF4642;
}

button {
    border: none;
    padding: 5px;
    margin-left: 3px;
    border-radius: 5px;
    background-color: #156DD6;
    cursor: pointer;
    font-size: 20px;
}

button:hover {
    background-color: aquamarine;
    color: rgb(10, 56, 97);
}